* {margin:0; padding:0; box-sizing:border-box;}

body {
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
    background:#324562;
    color:white;
    min-height:100vh; 
    display:flex;
    flex-direction:column;
}

header {
    background:#1e293b;
    color:white;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);
    position:relative; 
    z-index:1;
}
header h1 {
    font-size:28px;
    text-shadow:0 0 6px rgba(255,255,255,0.2);
}
header a {
    background-color:#c75454;
    padding:10px 20px;
    border-radius:10px;
    text-decoration:none;
    color:white;
    font-weight:700;
    transition:0.3s;
}
header a:hover {background-color:#a63e3e;}


.subtitulo {
    text-align:center;
    color:#e5e5e5;
    margin:30px 0 40px;
    font-size:18px;
    font-weight:500;
}

main {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:30px;
    padding:0 40px 100px;
}

.card {
    background:#1e293b;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.4);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:30px 20px;
    text-decoration:none;
    color:white;
    font-weight:700;
    font-size:18px;
    transition:0.4s;
    position:relative;
    overflow:hidden;
}
.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: linear-gradient(135deg,#267583,#329db6,#1a757f);
    box-shadow:0 15px 30px rgba(0,0,0,0.6);
}
.card i {
    font-size:50px;
    margin-bottom:20px;
    color:#60b7c9;
    transition:0.4s;
}
.card:hover i {
    color:white;
}


footer {
    background:#1e293b;
    color:white;
    padding:40px 10%;
    box-shadow:0 -4px 12px rgba(0,0,0,0.4);
    margin-top: auto;
}
.footer-contenido {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
    text-align:center;
}
.footer-col h3 {
    margin-bottom:15px;
    font-size:18px;
    text-transform:uppercase;
    border-bottom:2px solid #60b7c9;
    display:inline-block;
    padding-bottom:5px;
}
.footer-col p, 
.footer-col a {
    font-size:14px;
    color:#e5e5e5;
    text-decoration:none;
}
.footer-col a:hover {
    color:#60b7c9;
    text-shadow:0 0 10px #60b7c9;
}
.footer-col ul {list-style:none; padding:0;}
.footer-col li {margin:5px 0;}

.redes a {
    color:white;
    margin:0 8px;
    font-size:20px;
    transition:0.3s;
}
.redes a:hover {
    color:#60b7c9;
    text-shadow:0 0 10px #60b7c9;
}
.footer-copy {
    text-align:center;
    font-size:13px;
    margin-top:25px;
    border-top:1px solid rgba(255,255,255,0.2);
    padding-top:15px;
}
