 body{
      margin:0;
      font-family: system-ui, sans-serif;
    background:#324562;
      color:#222;
      line-height:1.6;
    }
    header{
    background:#1e293b;
      color:white;
      padding:32px 16px;
      text-align:center;
      height: 85px;
    }
    h1{ margin:0; font-size:32px; position: relative; bottom: 5px; }
    
    .container{
      max-width:900px;
      margin:32px auto;
      background:white;
      padding:24px;
      border-radius:12px;
      box-shadow:0 4px 12px rgba(0,0,0,6);
    }
    .material{
      display:flex;
      gap:20px;
      margin-bottom:24px;
      padding-bottom:16px;
      border-bottom:1px solid #ddd;
      align-items:flex-start;
    }
    .material img{
      width:150px;
      height:150px;
      object-fit:cover;
      border-radius:8px;
      background:#ddd;
    }
    .material .texto{
      flex:1;
    }
    .material h2{
      margin:0 0 8px;
      font-size:22px;
      color:#0f172a;
    }
    .material p{
      margin:4px 0 0;
    }


footer {
    background:#1e293b;
    color:white;
    padding:40px 10%;
    box-shadow:0 -4px 12px rgba(0,0,0,0.4);
    margin-top: auto;
}
.footer-contenido {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
    text-align:center;
}
.footer-col h3 {
    margin-bottom:15px;
    font-size:18px;
    text-transform:uppercase;
    border-bottom:2px solid #60b7c9;
    display:inline-block;
    padding-bottom:5px;
}
.footer-col p, 
.footer-col a {
    font-size:14px;
    color:#e5e5e5;
    text-decoration:none;
    position: relative; bottom: 15px;
}
.footer-col a:hover {
    color:#60b7c9;
    text-shadow:0 0 10px #60b7c9;
}
.footer-col ul {list-style:none; padding:0;}


.redes a {
    color:white;
    margin:0 8px;
    font-size:20px;
    transition:0.3s;
}
.redes a:hover {
    color:#60b7c9;
    text-shadow:0 0 10px #60b7c9;
}
.footer-copy {
    text-align:center;
    font-size:13px;
    margin-top:25px;
    border-top:1px solid rgba(255,255,255,0.2);
    padding-top:15px;
}
